# ----------------------
# Flask
# ----------------------
flask
flask-restful
psycopg2
Flask-SQLAlchemy
bcrypt

# ----------------------
# Testing
# ----------------------
# mock


# ----------------------
# Production Server
# ----------------------
# gevent
gunicorn
