# ----------------------
# Flask
# ----------------------
flask
flask-restful
psycopg2
Flask-SQLAlchemy

# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gevent
gunicorn
